.footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: #0e0e0e;
  border-top: 1px solid #222;
  flex-wrap: wrap;
}

.footer-left img {
  height: 40px;
  width: auto;
}

.footer-center {
  display: flex;
  gap: 25px;
}

.footer-center a {
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
}

.footer-center a:hover {
  color: #fff;
}

.footer-right {
  display: flex;
  gap: 15px;
}

.footer-right img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  transition: transform 0.3s;
}

.footer-right img:hover {
  transform: scale(1.1);
}
